* {
    font-size: 16px;
    font-family: 'Gill Sans', sans-serif;
}

/*Color storage*/
:root {
    --bg-color: rgb(0, 0, 0);
    --accent-color: rgb(231, 105, 105);
    --accent-color-fade: rgba(231, 105, 105, 0);
}

h1 {
    font-size: 230%;
    font-weight: 200;
}

p {
    line-height: 120%;
}

header {
    position: sticky;
    z-index: 1;
    top: 0px;
    background-color: var(--accent-color); 
}

header h1 {
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-around; 
}

nav ul li {
    font-size: 120%;
    margin-bottom: 3px;
}

img {
    object-fit: cover;
    max-width: 100%;
}

.card {
    margin: 1%;
    position: relative;
    border-top: 8px solid var(--accent-color);
    border-right: 8px solid var(--accent-color);
    border-left: 8px solid var(--accent-color);
    border-radius: 1px;
    max-width: 100%;
}

.project-name {
    position: absolute;
    bottom: 0px;
    background: linear-gradient(var(--accent-color-fade) 0%, var(--accent-color) 75%);
    padding: 10px 0px 4px 0px;
    width: 100%;
    text-align: center;
}

.divider {
    width: 80%;
    height: 3px;
    margin: 0 auto;
    background-color: var(--accent-color);
}

#about p {
    margin: 0px 8px;
}

#about-picture {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0px;
}

#about-picture h2 {
    font-size: 150%;
}

#about-picture img {
    max-width: 30%;
    border-radius: 50%;
    border: 3px solid var(--accent-color);
}

#portfolio {
    display: grid;
    grid-template-areas:
        "header header" 
        "one one"
        "one one"
        "two three"
        "four five";
    margin: 2.5%;
}

#contact {
    margin-bottom: 18px;
}

#contact h2 {
    text-align: center;
    font-size: 150%;
    margin: 5px 0px;
    font-weight: 500;
}

#contact ul {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3px;
}

#contact ul li {
    margin: 0px 5px;
}

#portfolio h2 {
    grid-area: header;
    text-align: center;
    font-size: 150%;
    font-weight: 200;
    margin: 5px;
}

#first-card {
    grid-area: one;
}

#second-card {
    grid-area: two;
}

#third-card {
    grid-area: three;
}

#fourth-card {
    grid-area: four;
}

#fifth-card {
    grid-area: five;
}

/* #sixth-card {
    grid-area: six;
} */

/*Create display layouts for tablets, laptops, and full size screens*/